html {
  background-color: #999;
}

#root {
  position: relative;
  min-height: 100vh;
}

.header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  background-color: #f5f5f5;
  padding: 2rem 0;
}

.header__title {
  font-weight: 600;
  font-size: 3rem;
  color: #333;
  flex: 1;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.nav__item__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.active--category,
.nav__item__link:hover {
  background-color: #b9c9f4;
  color: #fff;
}

.posts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.posts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 60%;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8fafe;
  transition: all 0.3s ease-in-out;
}

.posts__item:hover {
  cursor: pointer;
  background-color: #f1f4fd;
  scale: 1.05;
}

.footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
  font-style: italic;
  position: absolute;
  bottom: -10%;
  width: 100%;
}

.footer::before {
  background-color: #b9c9f4;
  top: 0;
}

.posts__notfound {
  text-align: center;
  padding: 4rem 0;
}

.posts__notfound_header,
.posts__notfound_paragraph {
  color: #333;
}

.posts__notfound_header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.posts__notfound_paragraph {
  font-size: 1.5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.page-link {
  margin: 1rem;
}

.page-item .page-link {
  color: #b9c9f4;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #b9c9f4;
  border-color: #b9c9f4;
}
