html {
  background-color: #e6e6e6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  background-color: #f5f5f5;
}
.header__img-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

.header__img-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(185, 201, 244, 0.5) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: 1;
}

.header__img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}

.header__img-description {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 2;
}

.header__title {
  font-weight: 600;
  font-size: 3rem;
  color: #333;
  flex: 1;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.nav__item__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.active--category,
.nav__item__link:hover {
  background-color: #b9c9f4;
  color: #fff;
}

.posts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 3rem;
}

.post__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 60%;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8fafe;
  transition: all 0.3s ease-in-out;
}

.post__item--header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.post__item:hover {
  background-color: #f1f4fd;
  scale: 1.05;
}

.post__item--title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.post__item--date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.post__item--intro {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

.post__item--readmore {
  font-size: 1rem;
  color: #b9c9f4;
  cursor: pointer;
  text-decoration: underline;
}

.post__item--readmore:hover {
  color: #a8b8d4;
}

.footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
  font-style: italic;
  font-size: 1rem;
  position: relative;
  margin-top: auto;
}

.footer::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #b9c9f4;
  top: 0;
  left: 0;
}

.posts__notfound {
  text-align: center;
  padding: 4rem 0;
}

.posts__notfound_header,
.posts__notfound_paragraph {
  color: #333;
}

.posts__notfound_header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.posts__notfound_paragraph {
  font-size: 1.5rem;
}

.post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f8fafe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 2rem auto;
  width: 80%;
  max-width: 800px;
}

.post-detail__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.post-detail__intro {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
  font-style: italic;
}

.post-detail__text {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  text-align: justify;
}

.post-detail--go-back-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.post-detail--go-back-button:hover,
.post-detail--go-back-button:focus {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.page-link {
  margin: 1rem;
}

.page-item .page-link {
  color: #b9c9f4;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.page-item .page-link:hover {
  color: #fff;
  background-color: #b9c9f4;
  border-color: #b9c9f4;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #b9c9f4;
  border-color: #b9c9f4;
}

.date-selector {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-selector__label {
  font-size: 1.2rem;
  color: #333;
  margin-right: 1rem;
}

.date-selector__select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 1rem;
  color: #333;
  margin-right: 1rem;
}

.date-selector__option {
  color: #333;
}

.date-selector__button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #b9c9f4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.date-selector__button:hover {
  background-color: #a8b8d4;
}
